Repository FT-Transcendence-February-2025/microservices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @VictoriaLizCor, @cptfran, @mottjes, @MemoCSales, @frbeyer1

Fix: fix issue when there is a mismatch in a tournament match and a check for when a player is not register in the tournament queue
  src/websocket/handlers/connection.js
Owners: @VictoriaLizCor

fix: scores rows get added now for every round_number AND match_index
  src/controllers/deletionController.js
  src/controllers/joinController.js
  src/controllers/tournamentControllers.js
  src/controllers/updateController.js
  src/db/databaseService.js
  src/db/schema.js
  src/routes/tournaments.js
Owners: @VictoriaLizCor

feat: updateScores route
  src/controllers/updateController.js
Owners: @VictoriaLizCor

Add: pino-prettier for logger
  src/server.js
Owners: @VictoriaLizCor

Feat: 1 players is needed for accepting a match
  src/websocket/handlers/connection.js
Owners: @VictoriaLizCor

Add: new dependencies and swagger
  package-lock.json
  package.json
  src/swagger/swagger.js
Owners: @VictoriaLizCor

Delete: swagger
  src/swagger/swagger.js
Owners: @VictoriaLizCor

feat: list all tournaments route
  src/controllers/inviteController.js
  src/controllers/joinController.js
  src/controllers/tournamentControllers.js
  src/controllers/usersController.js
  src/db/tournamentService.js
  src/routes/tournament-routes.js
  src/server.js
Owners: @VictoriaLizCor

Feat: block list. Created /get-block-list route returning list of all users who are blocked by requesting user. It's returning array of objects containing id, display name and avatar path.
  src/controllers/frontend-controller.js
  src/routes/frontend/get-block-list-route.js
  src/server.js
  src/services/database-service.js
Owners: @VictoriaLizCor

Refactor: change some routes required. Changed some frontend routes so they require user display name instead of id as it is easier to gather by frontend.
  src/controllers/frontend-controller.js
  src/routes/frontend/block-user-route.js
  src/routes/frontend/invite-friend-route.js
  src/routes/frontend/remove-friend.js
  src/routes/frontend/respond-friend-route.js
  src/routes/frontend/unblock-user-route.js
Owners: @VictoriaLizCor

Feat: created two factor auth table. Table will serve as a data holder for information about user's set 2fa methods and information if 2fa is on or off.
  src/database/database.sqlite
  src/database/migrations/create-two-factor-auth-table.js
  src/database/migrations/drop-two-factor-auth-table.js
Owners: @VictoriaLizCor

feat: worked on friend list, dynamic profile loading, and other things
  README.md
  old/.gitignore
  old/package-lock.json
  old/package.json
  old/public/index.html
  old/public/login.html
  old/public/password.html
  old/public/register.html
  old/src/api.js
  old/src/app.js
  src/components/game/game.ts
  src/components/menu/notFound/notFound.html
  src/components/menu/notFound/notFound.ts
  src/components/root/root.html
  src/components/root/root.ts
  src/components/user/account/account.ts
  src/components/user/avatar/avatar.html
  src/components/user/avatar/avatar.ts
  src/components/user/friends/friends.html
  src/components/user/friends/friends.ts
  src/components/user/login/login.ts
  src/components/user/profile/profile.html
  src/components/user/profile/profile.ts
  src/components/user/register/register.ts
  src/index.ts
  src/router.ts
  src/utils/User.ts
Owners: @VictoriaLizCor

feat: made navigateTo global on window object
  README.md
  index.html
  src/components/root/root.html
  src/components/root/root.ts
  src/components/user/avatar/avatar.html
  src/components/user/avatar/avatar.ts
  src/router.ts
  src/utils/APIManager.ts
  src/utils/User.ts
Owners: @VictoriaLizCor

[Update]: pukl auth
  services/authentication-service/src/.dockerignore
  services/authentication-service/src/.gitignore
  services/authentication-service/src/README.md
  services/authentication-service/src/package-lock.json
  services/authentication-service/src/package.json
  services/authentication-service/src/src/controllers/authentication-controller.js
  services/authentication-service/src/src/controllers/email-controller.js
  services/authentication-service/src/src/controllers/logout-controller.js
  services/authentication-service/src/src/controllers/password-controller.js
  services/authentication-service/src/src/controllers/refresh-token-controller.js
  services/authentication-service/src/src/controllers/registration-controller.js
  services/authentication-service/src/src/controllers/verify-email-controller.js
  services/authentication-service/src/src/database/database.js
  services/authentication-service/src/src/database/database.sqlite
  services/authentication-service/src/src/database/migrations/create-devices-table.js
  services/authentication-service/src/src/database/migrations/create-tables.js
  services/authentication-service/src/src/database/migrations/create-users-table.js
  services/authentication-service/src/src/database/migrations/drop-devices-table.js
  services/authentication-service/src/src/database/migrations/drop-users-table.js
  services/authentication-service/src/src/routes/authentication-route.js
  services/authentication-service/src/src/routes/email-route.js
  services/authentication-service/src/src/routes/logout-route.js
  services/authentication-service/src/src/routes/password-route.js
  services/authentication-service/src/src/routes/refresh-token-route.js
  services/authentication-service/src/src/routes/registration-route.js
  services/authentication-service/src/src/routes/verify-email-route.js
  services/authentication-service/src/src/server.js
  services/authentication-service/src/src/services/authentication-service.js
  services/authentication-service/src/src/services/database-service.js
  services/authentication-service/src/src/services/email-service.js
  services/authentication-service/src/src/services/logout-service.js
  services/authentication-service/src/src/services/notify-service.js
  services/authentication-service/src/src/services/password-service.js
  services/authentication-service/src/src/services/refresh-token-service.js
  services/authentication-service/src/src/services/registration-service.js
  services/authentication-service/src/src/services/user-management-service.js
  services/authentication-service/src/src/services/verify-email-service.js
  services/authentication-service/src/src/validation/validator.js
  services/authentication-service/src/tests/validation/validator.test.js
  services/authentication-service/src/vitest.config.js
Owners: @VictoriaLizCor

[Update]: match
  services/match-service/src/.eslintrc.json
  services/match-service/src/.gitignore
  services/match-service/src/Dockerfile
  services/match-service/src/README.md
  services/match-service/src/diagrams/databases.drawio
  services/match-service/src/docker-compose.yml
  services/match-service/src/docs/CORS.md
  services/match-service/src/docs/SQLite.md
  services/match-service/src/docs/ToDo.md
  services/match-service/src/docs/knex.md
  services/match-service/src/package-lock.json
  services/match-service/src/package.json
  services/match-service/src/scripts/seedData.js
  services/match-service/src/scripts/test-join-queue.js
  services/match-service/src/scripts/test-matching.js
  services/match-service/src/seeds/01_users.js
  services/match-service/src/seeds/test_matchmaking.js
  services/match-service/src/src/controllers/matchesControllers.js
  services/match-service/src/src/controllers/matchmakingControllers.js
  services/match-service/src/src/controllers/tournamentMatchesController.js
  services/match-service/src/src/db/connection.js
  services/match-service/src/src/db/schema.js
  services/match-service/src/src/models/User.js
  services/match-service/src/src/routes/database_route.js
  services/match-service/src/src/routes/match_routes.js
  services/match-service/src/src/routes/matchmaking-route.js
  services/match-service/src/src/routes/tournament_route.js
  services/match-service/src/src/routes/users.js
  services/match-service/src/src/server.js
  services/match-service/src/src/websocket/handlers/connection.js
  services/match-service/src/src/websocket/index.js
  services/match-service/src/src/websocket/tournamentBroadcast.js
  services/match-service/src/tests/frontend/client.js
  services/match-service/src/tests/frontend/index.html
  services/match-service/src/tests/unit/handlers/connection.test.js
Owners: @MemoCSales, @VictoriaLizCor

[Update]: tournament
  services/tournament-service/src/.eslintignore
  services/tournament-service/src/.eslintrc.json
  services/tournament-service/src/.gitignore
  services/tournament-service/src/README.md
  services/tournament-service/src/diagram/tournament.drawio
  services/tournament-service/src/package.json
  services/tournament-service/src/src/controllers/deletionController.js
  services/tournament-service/src/src/controllers/inviteController.js
  services/tournament-service/src/src/controllers/joinController.js
  services/tournament-service/src/src/controllers/playersController.js
  services/tournament-service/src/src/controllers/tournamentControllers.js
  services/tournament-service/src/src/controllers/updateController.js
  services/tournament-service/src/src/controllers/usersController.js
  services/tournament-service/src/src/db/database.js
  services/tournament-service/src/src/db/objects.js
  services/tournament-service/src/src/db/schema.js
  services/tournament-service/src/src/db/seedData.js
  services/tournament-service/src/src/db/tournamentService.js
  services/tournament-service/src/src/db/userService.js
  services/tournament-service/src/src/logic/roundRobin.js
  services/tournament-service/src/src/public/host.html
  services/tournament-service/src/src/public/host.js
  services/tournament-service/src/src/public/tournament.html
  services/tournament-service/src/src/routes/tournaments.js
  services/tournament-service/src/src/server.js
Owners: @VictoriaLizCor

[update]: user
  services/user-mgmt-service/src/.gitignore
  services/user-mgmt-service/src/package-lock.json
  services/user-mgmt-service/src/package.json
  services/user-mgmt-service/src/src/controllers/authentication-controller.js
  services/user-mgmt-service/src/src/controllers/frontend-controller.js
  services/user-mgmt-service/src/src/controllers/matchmaking-controller.js
  services/user-mgmt-service/src/src/controllers/tournament-controller.js
  services/user-mgmt-service/src/src/database/database.js
  services/user-mgmt-service/src/src/database/database.sqlite
  services/user-mgmt-service/src/src/database/migrations/create-friend-list-table.js
  services/user-mgmt-service/src/src/database/migrations/create-match-history-table.js
  services/user-mgmt-service/src/src/database/migrations/create-tables.js
  services/user-mgmt-service/src/src/database/migrations/create-users-table.js
  services/user-mgmt-service/src/src/database/migrations/database.sqlite
  services/user-mgmt-service/src/src/database/migrations/drop-friend-list-table.js
  services/user-mgmt-service/src/src/database/migrations/drop-match-history-table.js
  services/user-mgmt-service/src/src/database/migrations/drop-users-table.js
  services/user-mgmt-service/src/src/routes/authentication/new-user-route.js
  services/user-mgmt-service/src/src/routes/authentication/user-exists-route.js
  services/user-mgmt-service/src/src/routes/authentication/user-logout-route.js
  services/user-mgmt-service/src/src/routes/frontend/avatar-route.js
  services/user-mgmt-service/src/src/routes/frontend/display-name-route.js
  services/user-mgmt-service/src/src/routes/frontend/get-friends-route.js
  services/user-mgmt-service/src/src/routes/frontend/invite-friend-route.js
  services/user-mgmt-service/src/src/routes/frontend/profile-route.js
  services/user-mgmt-service/src/src/routes/frontend/remove-friend.js
  services/user-mgmt-service/src/src/routes/frontend/respond-friend-route.js
  services/user-mgmt-service/src/src/routes/frontend/websocket-route.js
  services/user-mgmt-service/src/src/routes/matchmaking/get-match-history-route.js
  services/user-mgmt-service/src/src/routes/matchmaking/get-user-route.js
  services/user-mgmt-service/src/src/routes/matchmaking/invite-game-route.js
  services/user-mgmt-service/src/src/routes/matchmaking/update-match-history-route.js
  services/user-mgmt-service/src/src/routes/tournament/invite-tournament-route.js
  services/user-mgmt-service/src/src/server.js
  services/user-mgmt-service/src/src/services/avatar-service.js
  services/user-mgmt-service/src/src/services/database-service.js
  services/user-mgmt-service/src/src/services/display-name-service.js
  services/user-mgmt-service/src/src/uploads/avatars/2-1742314308257.jpg
  services/user-mgmt-service/src/src/uploads/avatars/avatar-default.png
Owners: @VictoriaLizCor

feat: changePassword component, preHandler for routes, small changes
  README.md
  index.html
  src/components/root/root.ts
  src/components/user/account/account.html
  src/components/user/account/account.ts
  src/components/user/account/changePassword/changePassword.html
  src/components/user/account/changePassword/changePassword.ts
  src/components/user/avatar/avatar.html
  src/components/user/avatar/avatar.ts
  src/components/user/friends/friends.ts
  src/components/user/login/login.ts
  src/components/user/profile/profile.ts
  src/components/user/register/register.html
  src/components/user/register/register.ts
  src/index.ts
  src/router.ts
  src/utils/ApiManager.ts
  src/utils/NotificationManager.ts
  src/utils/UserManager.ts
Owners: @VictoriaLizCor

Add: online game logic, websocket creation and matchmaking communication
  package-lock.json
  src/components/menu/queue/queue.html
  src/components/menu/queue/queue.ts
  src/index.ts
  src/services/webSocketHandler.ts
  src/utils/User.ts
Owners: @VictoriaLizCor

Adding jwt-valitador-tr and dotenv packages
  package-lock.json
  package.json
Owners: @VictoriaLizCor

Fix: changing port, use dotenv, and modify CORS
  src/server.js
Owners: @VictoriaLizCor

Feat: adding verifyAccessToken method from jwtTr package
  src/websocket/index.js
Owners: @VictoriaLizCor

Fix: modifying activeConnection to use Map instead. Update connectionHandler
  src/websocket/handlers/connection.js
Owners: @VictoriaLizCor

[Feat]: use config file for fastify server containers to use local enviroment or docker enviroment
  .tmp.enc
  .tmp.tar.gz
  services/authentication-service/docker-compose.yml
  services/authentication-service/src/src/config/config.js
  services/authentication-service/src/src/server.js
  services/authentication-service/src/src/services/user-management-service.js
  services/frontend-service/docker-compose.yml
  services/frontend-service/src/public/fav.ico
  services/frontend-service/src/public/fav.ico:Zone.Identifier
  services/frontend-service/src/src/components/root/root.ts
  services/game-service/src/src/config/config.js
  services/match-service/src/src/config/config.js
  services/match-service/src/src/controllers/matchesControllers.js
  services/match-service/src/src/controllers/matchmakingControllers.js
  services/match-service/src/src/server.js
  services/tournament-service/src/src/config/config.js
  services/traefik-service/config/traefik.yml
  services/traefik-service/docker-compose.yml
  services/user-mgmt-service/docker-compose.yml
  services/user-mgmt-service/src/src/config/config.js
  services/user-mgmt-service/src/src/server.js
Owners: @VictoriaLizCor, @MemoCSales

[Feat]: use config file for fastify server containers to use local enviroment or docker enviroment
  src/config/config.js
  src/controllers/matchesControllers.js
  src/controllers/matchmakingControllers.js
  src/server.js
Owners: @VictoriaLizCor

[Feat]: use config file for fastify server containers to use local enviroment or docker enviroment
  src/config/config.js
Owners: @VictoriaLizCor

[Feat]: use config file for fastify server containers to use local enviroment or docker enviroment
  src/config/config.js
  src/server.js
Owners: @VictoriaLizCor

[Feat]: use config file for fastify server containers to use local enviroment or docker enviroment
  src/config/config.js
  src/server.js
  src/services/user-management-service.js
Owners: @VictoriaLizCor

[Refactor]: remove unnecesary files
  services/tournament-service/config.js
Owners: @VictoriaLizCor

[Feat]: dashboard protected
  .tmp.enc
  .tmp.tar.gz
  scripts/generateSecrets.sh
  scripts/tools.mk
  services/traefik-service/docker-compose.yml
Owners: @VictoriaLizCor

[fix]: using import instead of require for config.js * Added gmail security codes
  .tmp.enc
  README.md
  services/authentication-service/src/src/config/config.js
  services/authentication-service/src/src/server.js
  services/authentication-service/src/src/services/user-management-service.js
  services/game-service/src2/index.js
  services/game-service/src2/src/config/config.js
  services/match-service/src/src/config/config.js
  services/match-service/src/src/controllers/matchesControllers.js
  services/match-service/src/src/controllers/matchmakingControllers.js
  services/match-service/src/src/server.js
  services/match-service/src/src/websocket/handlers/connection.js
  services/tournament-service/config.js
  services/tournament-service/src/src/config/config.js
  services/user-mgmt-service/src/src/config/config.js
Owners: @VictoriaLizCor, @MemoCSales

[fix]: using import instead of require for config.js * Added gmail security codes
  src/config/config.js
Owners: @VictoriaLizCor

[fix]: using import instead of require for config.js * Added gmail security codes
  src/config/config.js
  src/server.js
  src/services/user-management-service.js
Owners: @VictoriaLizCor

[fix]: using import instead of require for config.js * Added gmail security codes
  src/config/config.js
Owners: @VictoriaLizCor

[fix]: using import instead of require for config.js * Added gmail security codes
  src/config/config.js
  src/controllers/matchesControllers.js
  src/controllers/matchmakingControllers.js
  src/server.js
  src/websocket/handlers/connection.js
Owners: @VictoriaLizCor

Add: matchCancelled function and move the token verification in the messageHandler
  src/websocket/handlers/connection.js
  src/websocket/index.js
Owners: @VictoriaLizCor

Modifying queue component and html to connect the websocket right after online button is clicked. Also, the message joinQueue is sent along with accessToken
  src/components/menu/queue/queue.html
  src/components/menu/queue/queue.ts
Owners: @VictoriaLizCor

feat: added checkAndRestoreSession to User class
  README.md
  src/components/user/register/register.html
  src/components/user/register/register.ts
  src/index.ts
  src/utils/ApiManager.ts
  src/utils/UserManager.ts
Owners: @VictoriaLizCor

Fix: WebSocket url does not include accessToken anymore
  src/services/webSocketHandler.ts
Owners: @VictoriaLizCor

Add: notification class
  src/styles/style.css
Owners: @VictoriaLizCor

.github/CODEOWNERS:

# .github/CODEOWNERS
# This file designates code owners for specific files or directories
# The team lead is the code owner for all files
* @VictoriaLizCor
# The team members owner for all files in the services/ directory
./services/authentication-service/src @cptfran
./services/frontend-service @mottjes
./services/game-service/src @mottjes @MemoCSales
./services/tournament-service @frbeyer1 @MemoCSales
services/match-service @MemoCSales
./services/user-management-service  @cptfran


# The documentation team is the code owner for all files in the docs/ directory
docs/ @VictoriaLizCor

# Contributors: <!-- cptfran frbeyer1 MemoCSales mottjes VictoriaLizCor -->
