Repository FT-Transcendence-February-2025/microservices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @VictoriaLizCor, @cptfran, @mottjes, @MemoCSales, @frbeyer1

Update: matches route to not accept round
  src/routes/tournament_route.js
Owners: @VictoriaLizCor

Fix: removing round variable, and modifying datetime to be localtime
  src/controllers/tournamentMatchesController.js
Owners: @VictoriaLizCor

Update: mainly update joinQueue branch in order to handles tournament joining messages, and creating a addPlayerToQueue function handle that in one place
  src/websocket/handlers/connection.js
Owners: @VictoriaLizCor

feat: update table management and scheduling
  src/controllers/deletionController.js
  src/controllers/inviteController.js
  src/controllers/joinController.js
  src/controllers/playersController.js
  src/controllers/tournamentControllers.js
  src/controllers/updateController.js
  src/controllers/usersController.js
  src/db/schema.js
  src/db/tournamentService.js
  src/db/userService.js
  src/logic/roundRobin.js
  src/routes/tournaments.js
  src/server.js
Owners: @VictoriaLizCor

Add: features for tournament messages in websockets
  src/controllers/tournamentMatchesController.js
Owners: @VictoriaLizCor

Update: to for the websocket to handle the tournament
  src/websocket/handlers/connection.js
Owners: @VictoriaLizCor

Squashed 'services/tournament-service/src/' content from commit fe8de8a
  .eslintignore
  .eslintrc.json
  .gitignore
  README.md
  diagram/tournament.drawio
  package.json
  src/controllers/deletionController.js
  src/controllers/inviteController.js
  src/controllers/joinController.js
  src/controllers/playersController.js
  src/controllers/tournamentControllers.js
  src/controllers/updateController.js
  src/controllers/usersController.js
  src/db/database.js
  src/db/objects.js
  src/db/schema.js
  src/db/seedData.js
  src/db/tournamentService.js
  src/db/userService.js
  src/logic/roundRobin.js
  src/public/host.html
  src/public/host.js
  src/public/tournament.html
  src/routes/tournaments.js
  src/server.js
Owners: @VictoriaLizCor

[Feat]: tournament inclusion
  services/match-service/docker-compose.yml
  services/tournament-service/Dockerfile
  services/tournament-service/docker-compose.yml
Owners: @MemoCSales, @VictoriaLizCor

[Fix]: match server file correction after merge
  services/match-service/src/src/server.js
Owners: @MemoCSales

[Fix]: front-end dockerfile modified to disable port 80 from default nginx image
  Makefile
  docker-compose.yml
  scripts/tools.mk
  services/frontend-service/Dockerfile
  services/frontend-service/docker-compose.yml
  services/frontend-service/src/src/utils/User.ts
  services/user-mgmt-service/Dockerfile
Owners: @VictoriaLizCor

[Refactor]: user src update
  services/user-mgmt-service/src/.gitignore
  services/user-mgmt-service/src/package-lock.json
  services/user-mgmt-service/src/package.json
  services/user-mgmt-service/src/src/controllers/authentication-controller.js
  services/user-mgmt-service/src/src/controllers/frontend-controller.js
  services/user-mgmt-service/src/src/controllers/matchmaking-controller.js
  services/user-mgmt-service/src/src/database/database.js
  services/user-mgmt-service/src/src/database/database.sqlite
  services/user-mgmt-service/src/src/database/migrations/create-friend-list-table.js
  services/user-mgmt-service/src/src/database/migrations/create-match-history-table.js
  services/user-mgmt-service/src/src/database/migrations/create-users-table.js
  services/user-mgmt-service/src/src/database/migrations/drop-friend-list-table.js
  services/user-mgmt-service/src/src/database/migrations/drop-match-history-table.js
  services/user-mgmt-service/src/src/database/migrations/drop-users-table.js
  services/user-mgmt-service/src/src/routes/authentication/new-user-route.js
  services/user-mgmt-service/src/src/routes/authentication/user-exists-route.js
  services/user-mgmt-service/src/src/routes/authentication/user-logout-route.js
  services/user-mgmt-service/src/src/routes/frontend/avatar-change-route.js
  services/user-mgmt-service/src/src/routes/frontend/avatar-view-route.js
  services/user-mgmt-service/src/src/routes/frontend/display-name-route.js
  services/user-mgmt-service/src/src/routes/frontend/get-friends-route.js
  services/user-mgmt-service/src/src/routes/frontend/invite-friend-route.js
  services/user-mgmt-service/src/src/routes/frontend/respond-friend-route.js
  services/user-mgmt-service/src/src/routes/frontend/websocket-route.js
  services/user-mgmt-service/src/src/routes/matchmaking/get-user-route.js
  services/user-mgmt-service/src/src/routes/matchmaking/update-match-history-route.js
  services/user-mgmt-service/src/src/server.js
  services/user-mgmt-service/src/src/services/avatar-service.js
  services/user-mgmt-service/src/src/services/database-service.js
  services/user-mgmt-service/src/src/services/display-name-service.js
  services/user-mgmt-service/src/src/uploads/avatars/2-1742314308257.jpg
  services/user-mgmt-service/src/src/uploads/avatars/avatar-default.png
Owners: @VictoriaLizCor

Squashed 'services/user-mgmt-service/src/' content from commit 4a26197
  .gitignore
  package-lock.json
  package.json
  src/controllers/authentication-controller.js
  src/controllers/frontend-controller.js
  src/controllers/matchmaking-controller.js
  src/controllers/tournament-controller.js
  src/database/database.js
  src/database/database.sqlite
  src/database/migrations/create-friend-list-table.js
  src/database/migrations/create-match-history-table.js
  src/database/migrations/create-tables.js
  src/database/migrations/create-users-table.js
  src/database/migrations/database.sqlite
  src/database/migrations/drop-friend-list-table.js
  src/database/migrations/drop-match-history-table.js
  src/database/migrations/drop-users-table.js
  src/routes/authentication/new-user-route.js
  src/routes/authentication/user-exists-route.js
  src/routes/authentication/user-logout-route.js
  src/routes/frontend/avatar-route.js
  src/routes/frontend/display-name-route.js
  src/routes/frontend/get-friends-route.js
  src/routes/frontend/invite-friend-route.js
  src/routes/frontend/profile-route.js
  src/routes/frontend/remove-friend.js
  src/routes/frontend/respond-friend-route.js
  src/routes/frontend/websocket-route.js
  src/routes/matchmaking/get-match-history-route.js
  src/routes/matchmaking/get-user-route.js
  src/routes/matchmaking/invite-game-route.js
  src/routes/matchmaking/update-match-history-route.js
  src/routes/tournament/invite-tournament-route.js
  src/server.js
  src/services/avatar-service.js
  src/services/database-service.js
  src/services/display-name-service.js
  src/uploads/avatars/2-1742314308257.jpg
  src/uploads/avatars/avatar-default.png
Owners: @VictoriaLizCor

[Fix]: user server change for docker compose
  services/user-mgmt-service/src/src/server.js
Owners: @VictoriaLizCor

[Refactor]: update routes to work with compose
  src/server.js
Owners: @VictoriaLizCor

[Refactor]: update routes to work with compose
  scripts/tools.mk
  services/authentication-service/src/src/server.js
  services/match-service/src/src/controllers/matchesControllers.js
  services/match-service/src/src/controllers/matchmakingControllers.js
  services/match-service/src/src/websocket/handlers/connection.js
  services/user-mgmt-service/src/src/server.js
Owners: @VictoriaLizCor, @MemoCSales

Add: new function to save tournamentMatch results
  backend/src/gameInstance.js
  backend/src/gameRoute.js
  backend/src/server.js
  frontend/public/script.js
  frontend/src/script.ts
Owners: @VictoriaLizCor

Add: new route for updating tournament match scores
  src/routes/tournament_results_route.js
Owners: @VictoriaLizCor

Add: tournamentMatchResults method
  src/controllers/tournamentMatchesController.js
Owners: @VictoriaLizCor

Add: register new route
  src/server.js
Owners: @VictoriaLizCor

Fix: bug in matchAccept type message
  src/websocket/handlers/connection.js
Owners: @VictoriaLizCor

Feat: verification code sending system. Initial logic for verification code sending system.
  src/controllers/notify-controller.js
  src/controllers/password-controller.js
  src/controllers/verify-email-controller.js
  src/database/database.sqlite
  src/database/migrations/create-email-codes-table.js
  src/routes/confirm-password-change-route.js
  src/routes/data-change-request.js
  src/routes/password-route.js
  src/routes/verify-email-route.js
  src/server.js
  src/services/database-service.js
  src/services/notify-service.js
  src/services/password-service.js
  src/services/verify-email-service.js
Owners: @VictoriaLizCor

Fix: fixed registration errors
  src/services/registration-service.js
Owners: @VictoriaLizCor

subtle changes
  src/server.js
Owners: @VictoriaLizCor

Update: delete commented code
  src/websocket/handlers/connection.js
Owners: @VictoriaLizCor

fix: sending schedule to matchmaking
  src/controllers/tournamentControllers.js
  src/logic/roundRobin.js
Owners: @VictoriaLizCor

feat: player host gets added to players table automatically, when new tournament gets created
  src/controllers/tournamentControllers.js
  src/db/tournamentService.js
Owners: @VictoriaLizCor

[Fix]: using static ips for service internal identification and start blocking specific request with apis example: domain/api/user/new-user is denied using traefik or curl(postman to be tested)
  scripts/testApi.mk
  services/authentication-service/docker-compose.yml
  services/authentication-service/src/src/services/registration-service.js
  services/match-service/docker-compose.yml
  services/tournament-service/docker-compose.yml
  services/traefik-service/docker-compose.yml
  services/user-mgmt-service/docker-compose.yml
Owners: @VictoriaLizCor, @MemoCSales

[Fix]: using static ips for service internal identification and start blocking specific request with apis example: domain/api/user/new-user is denied using traefik or curl(postman to be tested)
  src/services/registration-service.js
Owners: @VictoriaLizCor

Fix: get-friends route. Get friends route now also shows online status of the user based on their socket connection.
  src/database/database.sqlite
  src/routes/frontend/get-friends-route.js
  src/services/database-service.js
Owners: @VictoriaLizCor

Fix: local adjustments. Commented some server.js code to run locally.
  src/database/database.sqlite
  src/server.js
  src/services/authentication-service.js
Owners: @VictoriaLizCor

Fix: Separating tournament message logic with local match message logic
  src/websocket/handlers/connection.js
Owners: @VictoriaLizCor

Feat: tables checker name parser. Now tables checker and creator is capable of recognizing and creating tables that have names with more than 1 word.
  src/database/database.sqlite
  src/database/migrations/create-tables.js
  src/database/migrations/drop-email-codes-table.js
  src/server.js
Owners: @VictoriaLizCor

Add: update closeHandler functionality to update tournament_matches
  src/websocket/handlers/connection.js
Owners: @VictoriaLizCor

Feat: block user system. Now users can block other users disallowing them to send friend/game/tournament invites. If user blocked someone then they also cannot perform those actions on blocked user.
  src/controllers/frontend-controller.js
  src/controllers/matchmaking-controller.js
  src/controllers/tournament-controller.js
  src/database/database.sqlite
  src/database/migrations/create-block-list-table.js
  src/routes/frontend/block-user-route.js
  src/routes/frontend/unblock-user-route.js
  src/routes/tournament/invite-tournament-route.js
  src/server.js
  src/services/database-service.js
Owners: @VictoriaLizCor

Add: implementing leaveQueue function and adapt the code accordinly
  src/websocket/handlers/connection.js
Owners: @VictoriaLizCor

[Fix]: sendId user-managament-service
  docs/modules.MD.yaml
  scripts/testApi.mk
  services/authentication-service/src/src/services/user-management-service.js
Owners: @VictoriaLizCor

feat: init and update scores
  src/controllers/tournamentControllers.js
  src/controllers/updateController.js
  src/db/databaseService.js
  src/db/objects.js
  src/db/schema.js
  src/db/tournamentService.js
  src/routes/tournaments.js
  src/server.js
Owners: @VictoriaLizCor

feat: init and update scores
  src/server.js
Owners: @VictoriaLizCor

feat: init and update scores
  src/server.js
Owners: @VictoriaLizCor

Add: create updatetournamentMatchScores
  src/controllers/tournamentMatchesController.js
Owners: @VictoriaLizCor

.github/CODEOWNERS:

# .github/CODEOWNERS
# This file designates code owners for specific files or directories
# The team lead is the code owner for all files
* @VictoriaLizCor
# The team members owner for all files in the services/ directory
./services/authentication-service/src @cptfran
./services/frontend-service @mottjes
./services/game-service/src @mottjes @MemoCSales
./services/tournament-service @frbeyer1 @MemoCSales
services/match-service @MemoCSales
./services/user-management-service  @cptfran


# The documentation team is the code owner for all files in the docs/ directory
docs/ @VictoriaLizCor

# Contributors: <!-- cptfran frbeyer1 MemoCSales mottjes VictoriaLizCor -->
