Repository FT-Transcendence-February-2025/microservices, changes with the owners that .github/CODEOWNERS names for each.
All owners: @VictoriaLizCor, @cptfran, @mottjes, @MemoCSales, @frbeyer1

[bug]: config needs to be change for each service
  src/websocket/handlers/connection.js
Owners: @VictoriaLizCor

[bug]: config needs to be change for each service
  services/match-service/src/src/websocket/handlers/connection.js
Owners: @MemoCSales

Refactor: changed sms service. Changed sms service to infobip as it provides free options to send sms.
  package-lock.json
  package.json
  src/controllers/authentication-controller.js
  src/controllers/registration-controller.js
  src/database/database.sqlite
  src/database/migrations/create-auth-codes-table.js
  src/database/migrations/create-two-factor-auth-table.js
  src/routes/frontend/change-two-factor-auth-mode-route.js
  src/routes/frontend/login-route.js
  src/routes/frontend/login-two-factor-auth-sms-route.js
  src/routes/frontend/update-phone-number-route.js
  src/server.js
  src/services/crypto-service.js
  src/services/database-service.js
  src/services/notify-service.js
Owners: @VictoriaLizCor

feat: new tables + users
  src/controllers/matchmaking-controller.js
  src/database/database.sqlite
Owners: @VictoriaLizCor

feat: display name in access token Now access token contains display name in payload.
  src/database/database.sqlite
  src/services/authentication-service.js
  src/services/user-management-service.js
Owners: @VictoriaLizCor

Add: adding MatchMaking singleton
  src/components/menu/queue/queue.ts
Owners: @VictoriaLizCor

fix: token attaching change As now token can only be returned right after credentials when 2fa is on, the logic was changed.
  src/controllers/authentication-controller.js
  src/database/database.sqlite
  src/routes/frontend/login-route.js
  src/services/authentication-service.js
Owners: @VictoriaLizCor

Add: singleton websocket
  src/services/matchmakingSocket.ts
Owners: @VictoriaLizCor

fix: conflicts solved
  src/database/database.sqlite
  src/services/authentication-service.js
Owners: @VictoriaLizCor

feat: changed users Because of authentication new tables.
  src/database/database.sqlite
Owners: @VictoriaLizCor

Update README.md
  README.md
Owners: @VictoriaLizCor

style: deleted console.log
  src/controllers/matchmaking-controller.js
Owners: @VictoriaLizCor

Add: user display name in updateUIForMatchCreated
  src/components/menu/queue/queue.ts
Owners: @VictoriaLizCor

Fix: routes missing information. Added missing information to profile responses + created additional friend list route for tournament service.
  src/controllers/common-backend-controller.js
  src/controllers/frontend-controller.js
  src/controllers/matchmaking-controller.js
  src/controllers/tournament-controller.js
  src/routes/frontend/profile-route.js
  src/routes/matchmaking/get-user-route.js
  src/routes/tournament/get-user-friend-list.js
  src/server.js
  src/services/database-service.js
Owners: @VictoriaLizCor

feat: implemented local game logic into the game component
  src/components/game/game.ts
  src/components/game/utils/LocalGame.ts
  src/index.ts
Owners: @VictoriaLizCor

[Feat]: use of docker || local enviroment configuration
  diagram/Tournaments-Service-Routes.pdf
  src/config/config.js
  src/controllers/inviteController.js
  src/server.js
Owners: @VictoriaLizCor

[Feat]: use of docker || local enviroment configuration
  scripts/tools.mk
  services/authentication-service/docker-compose.yml
  services/authentication-service/src/src/config/config.js
  services/authentication-service/src/src/server.js
  services/frontend-service/docker-compose.yml
  services/frontend-service/src/public/fav.ico:Zone.Identifier
  services/game-service/src2/src/config/config.js
  services/match-service/docker-compose.yml
  services/match-service/src/src/config/config.js
  services/match-service/src/src/controllers/tournamentMatchesController.js
  services/match-service/src/src/server.js
  services/tournament-service/config.js
  services/tournament-service/docker-compose.yml
  services/tournament-service/src/diagram/Tournaments-Service-Routes.pdf
  services/tournament-service/src/src/config/config.js
  services/tournament-service/src/src/controllers/inviteController.js
  services/tournament-service/src/src/server.js
  services/user-mgmt-service/docker-compose.yml
  services/user-mgmt-service/src/src/config/config.js
  services/user-mgmt-service/src/src/server.js
  services/user-mgmt-service/src/src/services/authentication-service.js
Owners: @VictoriaLizCor, @MemoCSales

[Feat]: use of docker || local enviroment configuration
  src/config/config.js
  src/server.js
Owners: @VictoriaLizCor

[Feat]: use of docker || local enviroment configuration
  src/config/config.js
  src/controllers/tournamentMatchesController.js
  src/server.js
Owners: @VictoriaLizCor

[Feat]: use of docker || local enviroment configuration
  src/config/config.js
  src/server.js
  src/services/authentication-service.js
Owners: @VictoriaLizCor

Refactor: token creation. Started refactoring token creation so it will allign well with new session token and will be easier to maintain in 2fa.
  src/controllers/authentication-controller.js
  src/routes/frontend/login-route.js
  src/routes/frontend/login-sms-route.js
  src/services/authentication-service.js
  src/services/database-service.js
Owners: @VictoriaLizCor

Changed gameUrl to be rendered in frontend repo, and fixed some bugs
  src/websocket/handlers/connection.js
Owners: @VictoriaLizCor

Add: Logic to calculate winnerId and scores so can be sent through the webSockets and the notification can be displayed at the end of the game
  backend/src/gameInstance.js
Owners: @VictoriaLizCor

Fix navigation to
  src/components/menu/queue/queue.ts
Owners: @VictoriaLizCor

Add card element
  src/components/game/game.html
Owners: @VictoriaLizCor

Update jwt-validator-tr
  package-lock.json
Owners: @VictoriaLizCor

Add: fastify swagger
  src/server.js
Owners: @VictoriaLizCor

Add: more status code respoonses
  src/routes/matchmaking-route.js
  src/routes/tournament_route.js
Owners: @VictoriaLizCor

Add: hide the ws route for swagger
  src/websocket/index.js
Owners: @VictoriaLizCor

Add: new dependencies
  package-lock.json
  package.json
Owners: @VictoriaLizCor

[Feat]: monitoring start
  src/config/config.js
  src/server.js
  src/services/authentication-service.js
Owners: @VictoriaLizCor

[Feat]: monitoring start
  src/config/config.js
Owners: @VictoriaLizCor

[Feat]: monitoring start
  src/config/config.js
Owners: @VictoriaLizCor

[Feat]: monitoring start
  src/config/config.js
Owners: @VictoriaLizCor

[Feat]: monitoring start
  docker-compose.yml
  scripts/tools.mk
  services/authentication-service/src/src/config/config.js
  services/frontend-service/docker-compose.yml
  services/game-service/src2/src/config/config.js
  services/match-service/src/src/config/config.js
  services/monitoring-services/docker-compose.yml
  services/monitoring-services/traefik/Dockerfile
  services/monitoring-services/traefik/config/dynamic_conf.yml
  services/monitoring-services/traefik/config/traefik.yml
  services/tournament-service/src/src/config/config.js
  services/user-mgmt-service/src/src/config/config.js
  services/user-mgmt-service/src/src/server.js
  services/user-mgmt-service/src/src/services/authentication-service.js
Owners: @VictoriaLizCor, @MemoCSales

feat: authenticator app New logic allowing users to add authenticator application and use it as 2fa method.
  package-lock.json
  package.json
  src/controllers/authentication-controller.js
  src/database/database.sqlite
  src/database/migrations/create-two-factor-auth-table.js
  src/routes/frontend/add-authenticator-app-route.js
  src/routes/frontend/confirm-authenticator-app-route.js
  src/routes/frontend/delete-authenticator-app-route.js
  src/routes/frontend/delete-phone-number-route.js
  src/routes/frontend/login-app-route.js
  src/routes/frontend/login-route.js
  src/routes/frontend/login-sms-route.js
  src/routes/frontend/update-phone-number-route.js
  src/server.js
  src/services/authentication-service.js
  src/services/database-service.js
  src/services/notify-service.js
Owners: @VictoriaLizCor

style: file name changes
  package-lock.json
  src/config/config.js
  src/database/database.sqlite
  src/routes/tournament/get-user-friend-list-route.js
  src/server.js
Owners: @VictoriaLizCor

Feat: game after joining recent changes from main
  src/components/game/game.ts
  src/components/game/utils/LocalGame.ts
Owners: @VictoriaLizCor

Adding PORT variable
  src/services/matchmakingSocket.ts
Owners: @VictoriaLizCor

Update ports
  backend/src/gameInstance.js
  backend/src/gameRoute.js
  backend/src/server.js
Owners: @VictoriaLizCor

.github/CODEOWNERS:

# .github/CODEOWNERS
# This file designates code owners for specific files or directories
# The team lead is the code owner for all files
* @VictoriaLizCor
# The team members owner for all files in the services/ directory
./services/authentication-service/src @cptfran
./services/frontend-service @mottjes
./services/game-service/src @mottjes @MemoCSales
./services/tournament-service @frbeyer1 @MemoCSales
services/match-service @MemoCSales
./services/user-management-service  @cptfran


# The documentation team is the code owner for all files in the docs/ directory
docs/ @VictoriaLizCor

# Contributors: <!-- cptfran frbeyer1 MemoCSales mottjes VictoriaLizCor -->
